<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-none d-lg-block bg-primary" >
    <div class="login-about text-white bg-atom">
        <div class="slogan">
            <span>The</span>
            <span>Official</span>
            <span>Aolr PasS.</span>
        </div>
        <div class="about-desc">
            {{ 'cover.desc'|trans({}, 'aolr_user') }}
        </div>
        <a target="_blank" href="//{{ aolr_domain }}" class="know-more text-white" title="Aolr Pub">{{ 'cover.know_more'|trans({}, 'aolr_user') }} <i class="fa-solid fa-arrow-right fs-3"></i> </a>
{#        <a href="javascript:void(0);" class="know-more">Know More <img src="{{ asset('bundles/aolruni/dist/img/right-arrow.svg') }}" alt="Uni Pro Admin"></a>#}

    </div>
</div>
